@use "sass:map";
@use 'variables' as v;

// breakpoints mobile first
@mixin breakpoint($size) {
  $breakpoint-value: map-get($breakpoints, $size);
  
  @if $breakpoint-value == null {
    @error "Breakpoint '#{$size}' n'existe pas dans la map $breakpoints.";
  }
  
  @if $breakpoint-value == 0 {
    // Pour 'xs', pas de media query nécessaire (mobile-first)
    @content;
  } @else {
    @media screen and (min-width: $breakpoint-value) {
      @content;
    }
  }
}

// Typography
@mixin font-league-spartan {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}