// colors
$grey-50: hsl(0, 0%, 98%);
$grey-100: hsl(0, 0%, 94%);
$grey-200: hsl(0, 0%, 85%);
$grey-500: hsl(0, 0%, 63%);
$grey-800: hsl(0, 0%, 27%);

// breakpoints
$breakpoints: (
  'tablet-vt': 31.25rem,
  'tablet-hz': 48rem,
  'desktop': 67.5rem,
);

// slides
$slides-nb: 3;
// height of the slide visual
$slide-image-height-mobile: 22.5rem;
$slide-image-height: (
  'mobile': 22.5rem,
  'tablet': 25rem,
  'desktop': 'min-content',
);

// side protection
$gutter: (
  'mobile': 8.67%,
  'tablet': 8.33%,
  'desktop': 0,
);