@use 'sass:map';
@use '../helpers/variables' as v;
@use '../helpers/mixins' as mx;

.home-footer{
  position: relative;
  @include mx.breakpoint('desktop'){
    grid-column: 1/-1;
    grid-row: 3/-1;
    grid-template-columns: subgrid;
    display: grid;
    grid-template-rows: min-content;
  }
}
.footer-text-content{
  padding: 3rem map.get(v.$gutter, "mobile");
  @include mx.breakpoint('tablet-vt'){
    padding: 4rem map.get(v.$gutter, "tablet");
  }
  @include mx.breakpoint('desktop'){
    grid-column: 9/-9;
  }
}
.footer-visual{
  width: 100%;
  @include mx.breakpoint('tablet-vt'){
    object-fit: cover;
    &:nth-of-type(1){
      height: 18.75rem;
    }
    &:nth-of-type(2){
      height: 15.1875rem;
    }
  }
  @include mx.breakpoint('desktop'){
    &:nth-of-type(1){
      grid-column: 1/9;
    }
    &:nth-of-type(2){
      grid-column: -1/-9;
    }
  }
}
.footer-heading{
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.footer-paragraph{
  color: v.$grey-500;
}
.attribution{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-weight: 500;
  font-size: 0.8rem;
  text-align: center;
  color: v.$grey-800;
}